.div{
    align-items:center;
}
.img{
    border-radius:10px;
}
.img:hover{
    box-shadow:12px;
    box-shadow-color:yellow;
    width:300px;
    height:300px;
}
.div:hover{
    background-color:red;
}
.h1:hover{
    font-weight:bold;
    font-size:24px;
}
